name: Deploy to NPM

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:  
  contents: write

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set git user
        run: |
          git config --local user.email "less-ci@github.com"
          git config --local user.name "GitHub Action"

      - name: Execute Publish Script
        run: ./scripts/release/publish.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ github.token }}
